<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" supress-by-claim-name="gerente" supress-by-claim-value="editar" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" supress-by-claim-name="gerente" supress-by-claim-value="editar" asp-area="" asp-controller="Emprestimos" asp-action="Index">Emprestimos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" supress-by-claim-name="cliente" supress-by-claim-value="editar"asp-area="" asp-controller="Emprestimos" asp-action="Index">Meus Emprestimos</a>
        
    </li>
</ul>


