@{
    ViewData["Title"] = "Pagina Inicial";
}
<div class="text-center">
    <h1 class="display-4">Bem vindo ao seu Banco!</h1>
    <h2 class="display-4">Vem pra Patch você também!!</h2>
    @*<div class="container bd-content order-1 py-5" role="main">

    </div>*@
</div>